<div id="container" class="bg-primary" @inOut>
    <div class="row">
        <button type="button" mat-flat-button color="accent" (click)="addChat()">5 - 7 hari</button>
        <button type="button" mat-flat-button color="accent" (click)="addChat()">5 - 7 hari</button>
    </div>
    <div class="row">
        <button type="button" mat-flat-button color="accent" (click)="addChat()">5 - 7 hari</button>
        <button type="button" mat-flat-button color="accent" (click)="addChat()">5 - 7 hari</button>
    </div>  
</div>